html{
    font-family: "Trebuchet MS", Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5; 
}
body{
    width: 80%;
    letter-spacing: 2px;
    word-spacing: 4px;
    margin: 0 auto;
}
.header{
    background-color: black; 
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.header a{
    text-align: center;
    color: white;
    text-decoration: none;
    margin: .5em 0;
}
.main{ 
    display: grid;
    grid-template-columns: 4fr 1fr;
} 
h1,h3{
    text-align: center;
}
.img-div{
    float: left;
    margin-right: 1em;
}
.many-img-div{
    display: grid;
    grid-template-columns: auto  auto;
    /* 项目与项目间、项目与容器间的间隔相等 */
    justify-content: space-evenly;
    /* grid-auto-rows: 50px; */
    gap: 3px 3px;
    /* column-gap: 3px; */
}
.myimg{
    width: 180px;
}
img{
    width: 80px;
}
.right{
    margin-left: 2rem;
    grid-template-columns: auto auto;
}
